/* Shared Styles */

.header,
.footer,
.hero,
.information,
.quotes {
    padding: 0px 128px;
}

.header,
.footer,
.hero {
    background-color: #1F2937;
}

.header-links a,
.footer p,
.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.information-header,
.quote-text {
    font-size: 36px;
    color: #1F2937;
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150vh;
    font-family: Roboto, sans-serif;
    margin: 0;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.header-links {
    display: flex;
    gap: 16px;
}

.header-links a {
    text-decoration: none;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero */

.hero {
    flex: 1;
    display: flex;
    align-items: center;
}

.hero-left {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    flex: 1;
    gap: 8px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-secondary-text {
    margin: 0;
}

.hero-button {
    background-color: #3882F6;
    border-radius: 4px;
    padding: 4px 24px;
    border: none;
    color: #F9FAF8;
}

.hero-image {
    background-color: gray;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 300px;
    height: 250px;
}

/* Information */

.information {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 1;
    margin: 0;
    text-align: center;
}

.information-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    flex: 1;
    margin: 0;
    padding: 8px;
}

.info-cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    flex: 2;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 200px;
}

.info-card img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 4px solid #3882F6;
}

.info-card p {
    margin: 0;
    flex: 1;
    padding: 16px;
}

/* Quote */

.quotes {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote-text {
    font-weight: 300;
    display: flex;
    margin: 0;
}

.quote-author {
    font-weight: bold;
    align-self: flex-end;
}