/* Main */

.main {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: stretch;
    background-color: #1F2937;
    padding: 0px 64px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.header-links {
    display: flex;
    gap: 16px;
}

.header-links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}