/* Shared Styles */

.header,
.footer,
.hero {
    padding: 0px 128px;
}

.header,
.footer,
.hero {
    background-color: #1F2937;
}

.header-links a,
.footer p,
.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: Roboto, sans-serif;
    margin: 0;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.header-links {
    display: flex;
    gap: 16px;
}

.header-links a {
    text-decoration: none;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero */

.hero {
    flex: 1;
    display: flex;
    align-items: center;
}

.hero-left {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    flex: 1;
    gap: 8px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-secondary-text {
    margin: 0;
}

.hero-button {
    background-color: #3882F6;
    border-radius: 4px;
    padding: 4px 24px;
    border: none;
    color: #F9FAF8;
}

.hero-image {
    background-color: gray;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 300px;
    height: 250px;
}